<div id="<%= dom_id booking %>">
  <p>
    <strong>Started at:</strong>
    <%= booking.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= booking.ended_at %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= booking.guest_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= booking.location_id %>
  </p>

</div>
