<%= form_with(model: booking) do |form|  %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="container-fluid" style="width:500px" >
    <div class="mb-3">
      <%= form.label :started_at, style: "display: block"%>
      <%= form.datetime_field :started_at, class: "form-control"  %>
    </div>


    <div class="mb-3" >
      <%= form.label :ended_at, style: "display: block" %>
      <%= form.datetime_field :ended_at, class: "form-control"  %>
    </div>

    <div class="mb-3">

    <%= form.hidden_field :location_id, value: @booking.location_id %>
  </div>
  
   <%= form.hidden_field :guest_id, value: @booking.guest_id %>



    <div>
      <%= form.submit %>
    </div>
    </div>
<% end %>
