<div id="<%= dom_id location %>">

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <%= location.host.email %> </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>City:</span> <%= location.city %> </li>
      <li class="list-group-item"> <span>State:</span> <%= location.state %> </li>
      <li class="list-group-item"> <span> Host:</span> <%= location.host.email %>  </li>

      <% if current_page?(location_path(location)) %>
        <li class="list-group-item"> <span> this is should show only if we are on the show page</span> <%= location.address %>  </li>
        <li class="list-group-item"> <span> Host:</span> it works </li>

      <% end %>
    </ul>
    
    <div class="card-body">
      <p class="card-text"> <span> Description:</span> <br> <%= location.description %> </p>

    </div>

    <div class="card-body">
       <% if !current_page?(location_path(location)) %>
          <%= link_to "Show this location", location,  class:"card-link" %>

          <%= link_to "New location", new_location_path, class:"card-link" %>
        <% end %>

    </div>
  </div>

</div>
